.about {
	padding: 100px 0 80px;
}

.about__container {
	background-image: url('../img/sofa.svg');
	background-position: 70% center;
	background-repeat: no-repeat;
}

.about__descr {
	max-width: 500px;
	font-size: 25px;
}
