.header {
	padding: 20px 0;
}

.header__container {
	display: flex;
	align-items: center;
}

.header__logo {
	width: 160px;
	height: 100px;
	margin-right: auto;
	flex-shrink: 0;
}

.header__menu.is-opened {
	display: flex;
	animation-name: menu-open;
	animation-duration: 0.7s;
}

.header__menu.is-closed {
	animation-name: menu-close;
	animation-duration: 0.7s;
}

@media (max-width: 1200px) {
	.header__menu {
		gap: 40px;
	}
}

@media (max-width: 1000px) {
	.header__menu {
		position: fixed;
		display: none;
		width: 100%;
		top: 0;
		right: 0;
		z-index: 5;
	}
}

@media (max-width: 760px) {
	.header {
		padding: 15px 0;
	}
	.header__logo {
		width: 120px;
		height: 60px;
	}
}

@media (max-width: 580px) {
	.header {
		padding: 10px 0;
	}
}

@keyframes menu-open {
	from {
		transform: translate(100%, -100%);
	}
	to {
		transform: translate(0, 0);
	}
}
@keyframes menu-close {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(100%, -100%);
	}
}
